#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #111827;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, .p-h3, .p-h4 {
  font-family: 'Playfair Display', serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
.p-h3 {
  font-size: 2rem;
}
.p-h4 {
  font-size: 1.25rem;
}
html.dark {
  body {
    background-color: #121212;
    color: white;
  }

  .navbar {
    background-color: #121212 !important;
    color: white;
  }
  .navbar-link,
  .theme-toggle-button,
  .navbar-brand {
    color: white !important;
  }
  /* SKILLS */
  .card {
    background-color: #121212 !important;
    color: white;
  }
  .timeline-item .card {
    background: #121212;
    color: white;
    border: 1px solid white;
  }
  .ipad-screen {
    background: #121212;
  }
  .section-subheadtext a{
    color: white;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  #root {
    max-width: 1280px;
    margin: 0 auto;
    margin: 1rem;
    text-align: center;
  }
}

