/* Basic CSS Reset & global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #111827;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}
