/* Basic CSS Reset & global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #111827;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    padding: 0rem;
  }
}